.container{
    display: flex;
    flex-direction: row;
}

.button-container {
    margin-left: 5%;
    width: 80%;
  }
  .button-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 3%;
    margin-top: 5%;
  }


  .row{
    display: flex;
    flex-direction: row;
  }

footer{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 13px;
  margin-bottom: 10px;
}

footer a{
  text-decoration: none;
  color: rgb(147, 95, 17);
}